.education{
    display:flex;
    // flex-direction:column;
    form{
        display:flex;
        flex-direction: column;
        margin: 2em;
        max-width:45%;
        min-width: 40%;
        label {
            margin:1em;

            input{
                margin: 1em;
            }
        }
        button {
            padding: 0.5em;
            max-width:5em;
            cursor:pointer;
        }
    }
}